.wrapper {
    width: 80%;
    margin: 40px auto 0;
    border: 2px groove #483d8b;
    position: relative;
}

.item {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.static {
    background-color: #fafad2;
    position: static;
    left: 300px;
}

.relative {
    background-color: #ffa07a;
    position: relative;
    left: 300px;
}

.absolute {
    background-color: #dc143c;
    position: absolute;
    left: 50px;
    top: 50px;
}

.fixed {
    background-color: #4169e1;
    position: fixed;
    right: 10px;
    bottom: 20px;
}


.description {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow-y: auto;

    font-size: 30px;
}

.description-title {
    background-color: rgba(225, 225, 225, 1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}