*,
*::after,
*::before {
   box-sizing: border-box;
   /* content-box */
}

html {
   height: 100%;
}

body {
   margin: 0;
   font-family: sans-serif;
}

a {
   text-decoration: none;
}

.page-header {
   padding: 48px;
}

.header-nav {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   margin-left: calc(100% - 140px - 797px);
   /* 140px - logo width, 797px - nav width*/
}

.header-logo {
   display: inline-block;
   vertical-align: middle;
}

.header-menu {
   margin: 0;
   padding: 0;
   list-style: none;
}

.header-menu-item {
   display: inline-block;
}

.header-menu-item+.header-menu-item {
   margin-left: 64px;
}

.header-menu-link {
   color: #3d3d3d;
}

/* !important */
/* .header-menu-item > a {
   color: yellow;
}
 .header-menu-link {
   color: green;
} */

.header-menu-link-active {
   color: #f1b128;
}

.brands {}

.brands-text-1 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 22px;

   /* identical to box height, or 100% */
   /* display: flex; */
   align-items: center;
   text-align: center;
   text-transform: uppercase;

   color: #333333;


   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 48px;
   margin: 48px;

}

.brands-text-2 {
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 18px;

   /* identical to box height, or 100% */
   /* display: flex; */
   align-items: center;
   text-align: center;

   color: #4D4943;


   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 0px 48px;
   ;

}

#brands-line {}

.siz {
   height: 156px;
   width: 156px;
   left: 0px;
   top: 1px;
   border-radius: 0px;

}

.line-otcup {
   margin: 20px 0 20px 0;
}




.image {
   position: relative;
   width: 100%;
}

.onim {
   position: absolute;
   top: 390px;

   /* width: 100%; */
   margin-left: 100px;
}

.banner-title {
   border-radius: nullpx;
   font-family: Montserrat;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: 0px;
   text-align: left;
   color: wheat;
   width: 30%;
   text-align: center;
}

.banner-subtitle {
   height: 18px;
   width: 297px;
   top: 80px;
   border-radius: nullpx;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0px;
   text-align: left;
   color: wheat;
}

.this {
   height: 124px;
   width: 853px;
   top: 130px;
   border-radius: 0px;
   margin: 32px, 48px, 32px, 48px;
   color: #3D3D3D 58%;

}

.wi {
   height: auto;
   width: 100%;
   left: 0px;
   top: 0px;
   border-radius: 0px;

}

.our {
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 22px;

   /* identical to box height, or 100% */
   /* display: flex; */
   align-items: center;
   text-align: center;
   text-transform: uppercase;

   color: #333333;


   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 48px;
   margin: 48px;


}

.text-our {
   font-family: Lato;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 18px;

   /* identical to box height, or 100% */
   /* display: flex; */
   align-items: center;
   text-align: center;

   color: #4D4943;


   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 0px 48px;

}

.place-k {

   height: 18px;
   width: 100%;

   border-radius: nullpx;
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: 0px;


}

.y {
   color: orange;
}

/* .container{
 text-align-last: left;
} */

.container {
   max-width: 1170px;
   margin: auto;

}

.tx-con {
   height: 156px;
   width: 570px;
   left: 1px;
   top: 50px;
   border-radius: nullpx;
   font-family: Lato;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 12px;
   letter-spacing: 0px;
   text-align: justified;

}


.img-consulting {
   height: 148px;
   width: 270px;
   margin: 0px 20px 20px 0px;
}

.box {
   display: block;
   padding: 16px 0px 0px 30px;
   margin: 86px 0px 0px 16px;
   position: absolute;
   width: 128px;
   height: 46px;
   background: #333333;
   color: white;
   font-family: Lato;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0px;
   text-align: left;

}




.services-link {
   width: 128px;
   padding: 16px;
   background-color: #333;
   display: block;
   color: #fff;
}

.service-title {
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   text-transform: uppercase;

   color: #333333;
}

.accent-color {
   color: #f48e0b;
}

.services-desctription-text {
   font-weight: 300;
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 28px;
}

.service-link {
   padding: 18px 32px;
   background-color: #f1ad1d;
   color: #fff;
   font-weight: bold;
   font-size: 16px;
   line-height: 14px;
   display: inline-flex;
}

.services-desctription {
   width: calc(50% - 28.5px);
}

.parent {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 16px;
   grid-row-gap: 16px;
}

.div1 {
   grid-area: 1 / 1 / 2 / 2;
}

.div2 {
   grid-area: 1 / 1 / 2 / 2;
}

.div3 {
   grid-area: 1 / 2 / 2 / 3;
}

.div4 {
   grid-area: 1 / 3 / 2 / 4;
}

.div5 {
   grid-area: 1 / 4 / 2 / 5;
}

.div6 {
   grid-area: 1 / 5 / 2 / 6;
}

.div7 {
   grid-area: 1 / 6 / 2 / 7;
}

.div8 {
   grid-area: 2 / 1 / 3 / 2;
}

.div9 {
   grid-area: 2 / 2 / 3 / 3;
}

.div10 {
   grid-area: 2 / 3 / 3 / 4;
}

.div11 {
   grid-area: 2 / 4 / 3 / 5;
}

.div12 {
   grid-area: 2 / 5 / 3 / 6;
}

.div13 {
   grid-area: 2 / 6 / 3 / 7;
}

.box-two {
   display: block;
   padding: 16px 0px 0px 30px;
   margin: 86px 0px 0px 16px;
   position: absolute;
   width: 128px;
   height: 46px;
   background: #333333;
   color: white;
   font-family: Lato;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0px;
   text-align: left;
   border-radius: 20px;

}



/* ========================== */
.topnav {
   /* background-color: #333; */
   overflow: hidden;
   /* width: 6 00px; */
   width: 100%;
   margin-left: 90px;
}

/* Style the links inside the navigation bar */
.topnav a {
   font-family: Lato;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 14px;



   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 13px 30px;
   margin: 0px 15px 70px 20px;
   text-decoration: none;
   font-size: 17px;
   border: 1px solid black;
   color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
   background: #333333;

   color: #F1AD1D;
   ;

}

/* Add a color to the active/current link */
.topnav a.active {
   background-color: #4CAF50;
   color: white;
}


.parents {

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 15px;
   grid-row-gap: 15px;
}

.div1s {


   grid-area: 1 / 1 / 2 / 2;
}

.div2s {
   grid-area: 1 / 2 / 2 / 3;
}

.div3ss {
   grid-area: 1 / 3 / 2 / 4;
}

.div4s {
   grid-area: 1 / 4 / 2 / 5;
}

.div5s {
   grid-area: 2 / 1 / 3 / 2;
}

.div6s {
   grid-area: 2 / 2 / 3 / 3;
}

.div7s {
   grid-area: 2 / 3 / 3 / 4;
}

.div8s {
   grid-area: 2 / 4 / 3 / 5;
}

.div9s {
   grid-area: 3 / 1 / 4 / 2;
}

.div10s {
   grid-area: 3 / 2 / 4 / 3;
}

.div11s {
   grid-area: 3 / 3 / 4 / 4;
}

.div12s {
   grid-area: 3 / 4 / 4 / 5;
}

.box-1s {
   border: 2px solid #333333;
   width: 281px;
   height: 271px;
}

.portfolio-block {
   margin-top: 30px;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 22px;
   letter-spacing: 0px;
   text-align: center;

}

.text-block {
   height: 47px;
   width: 258px;

   margin-left: 10px;
   font-family: Lato;
   font-size: 14px;
   font-weight: 300;
   line-height: 17px;
   letter-spacing: 0px;
   text-align: center;

}

.bt {
   height: 39px;
   width: 141px;
   background: #F1AD1D;
   font-family: Lato;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
   color: #FFFFFF;
   border: 0px;
   margin-top: 20px;
   margin-left: 60px;
}

.footer-txt-line {

   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   line-height: 18px;
   text-align: center;

   padding-top: 7px;

   width: 100%;
   height: 68px;


   background: #333333;


}

.footer-txt-line p {
   color: white;
}

.footer-txt-line span {
   color: #f1ad1d;
}

.footer-actor {
   text-align: center;
   margin-top: 274px;
}



/* ================listen1================= */

.listen {
   margin-top: 162px;
}

.listen-txt-1 {
   font-family: Montserrat;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.listen-txt-2 {
   font-family: Lato;
   font-size: 17px;
   font-weight: 400;
   text-align: center;
   color: #333333;
}

.listen-block-txt-1 {
   font-family: Lato;
   font-size: 14px;
   font-weight: 300;
   text-align: left;
   width: 370px;
   color: #5B5B5B;
}

.coma {
   margin: 0px 12px 16px 0px;
}

.long-line {
   margin: 0px 0px 27px 0px;
}

.listen-img {
   margin: 50px 13px 0px 0px;
}

.listen-firstname {
   font-family: Lato;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
}

.listen-lastname {
   font-family: Lato;
   font-size: 14px;
   font-weight: 300;
   text-align: left;
   color: #5B5B5B;
   margin-left: 60px;
}


.pos {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: stretch;
}